// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.syntaxhighlighter {
  border: 1px solid $pre-border;
  @include border-radius(.4em);
  //background: $pre-bg $noise-bg;
  @include box-shadow(rgba(#000, .06) 0 0 10px);
}

body {
  //for not supported ie 
  //background:#fff;
  //box-shadow: 0 2px 6px rgba(100, 100, 100, 0.4);
  @include box-shadow(rgba(100, 100, 100, 0.6) 0 2px 6px, rgba(100, 100, 100, 0.6) 0 1px 3px inset);
  //@include border-top-radius(.4em);
}


div.pagination span.current-page{
    background: #bbb;
    display: inline-block;
    padding: .4em .8em;
    margin-right: .5em;
    text-decoration: none;
    color: #fff;
    @extend .serif;
}
div.pagination span.nolink-page{
    background: #eeeeee;
    display: inline-block;
    padding: .4em .8em;
    margin-right: .5em;
    text-decoration: none;
    color: #666;
    @extend .serif;
}
div.pagination span.pagebar{float:left;}

//#blog-archives .entry-title{font-size:1.1em;}
//#blog-archives article footer{font-size:0.85em;}

.unsupported-browser {
	padding:15px 0;
	color:#211e14;
	background-color:#fae692;
	background-image:-moz-linear-gradient(#feefae,#fae692);
	background-image:-webkit-linear-gradient(#feefae,#fae692);
	background-image:linear-gradient(#feefae,#fae692);
	background-repeat:repeat-x;
	border-bottom:1px solid #b3a569
}
.unsupported-browser .container {
	background:image-url("ie-notice.png") no-repeat
}
.unsupported-browser h5 {
	font-size:13px;
	padding-left:48px
}
.unsupported-browser p {
	margin:0;
	padding-left:48px
}
.unsupported-browser .button {
	float:right;
	padding:5px 9px;
	margin-top:15px;
	color:#fff;
	background-color:#b3a569;
	background-image:none
}
.unsupported-browser .button:hover {
	text-decoration:none;
	background-color:#9b8c4e
}

ul.children1 {padding-left:1.5em;}
ul.children2 {padding-left:1.8em;}
ul.children3 {padding-left:2.1em;}

#tags {
	/* color: #888; */
	padding: 6px 0px;
}

#tags li {
	display: inline-block;
	//background: #F7F7F7;
	padding: 3px;
	line-height: 100%;
	@include border-radius(3px);
	border: solid 1px #CCCCCC;
	border-color: rgba(0, 0, 0, .2);
	margin: 2px 0;
}

#tags li a {
	text-decoration: none;
}

.right {
	float:right;
}

.count{
	//background: #bbb;
	background-color: #bbb;
	@include border-radius(3px);
	color: #fff;
	font-size: 90%;
	font-weight: normal;
	padding: 0.1px .8ex;
	margin-left:0.5em;
}

#related-posts-list{
	padding-left: 0.1em;
	line-height: 1.65em;
	list-style-type: none;

	a{
		text-decoration: none;
	}
}
